Source: python3.1
Section: python
Priority: optional
Maintainer: Matthias Klose <doko@debian.org>
Build-Depends: debhelper (>= 5.0.51~), quilt, autoconf, libreadline6-dev, libncursesw5-dev (>= 5.3), zlib1g-dev, libdb4.8-dev, tk8.5-dev, blt-dev (>= 2.4z), libssl-dev, sharutils, libbz2-dev, libbluetooth-dev [!hurd-i386 !kfreebsd-i386 !kfreebsd-amd64], locales [!armel !avr32 !hppa !ia64 !mipsel], libsqlite3-dev, libffi-dev (>= 3.0.5), mime-support, libgpm2 [!hurd-i386 !kfreebsd-i386 !kfreebsd-amd64], netbase, lsb-release, bzip2, gdb, python
Build-Depends-Indep: python-sphinx
Build-Conflicts: autoconf2.13
XS-Python-Version: 3.1
Standards-Version: 3.9.1
Vcs-Browser: https://code.launchpad.net/~doko/python/pkg3.1-debian
Vcs-Bzr: http://bazaar.launchpad.net/~doko/python/pkg3.1-debian

Package: python3.1
Architecture: any
Priority: optional
Depends: python3.1-minimal (= ${binary:Version}), mime-support, ${shlibs:Depends}, ${misc:Depends}
Suggests: python3.1-doc, python3.1-profiler, binutils
Provides: python3.1-cjkcodecs, python3.1-ctypes, python3.1-elementtree, python3.1-celementtree, python3.1-wsgiref, python3.1-gdbm
XB-Python-Version: 3.1
Description: An interactive high-level object-oriented language (version 3.1)
 Version 3.1 of the high-level, interactive object oriented language,
 includes an extensive class library with lots of goodies for
 network programming, system administration, sounds and graphics.

Package: python3.1-minimal
Architecture: any
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: python3.1
Suggests: binfmt-support
Replaces: python3.1 (<< 3.1.3~rc1-1~)
Conflicts: binfmt-support (<< 1.1.2)
XB-Python-Runtime: python3.1
XB-Python-Version: 3.1
Description: A minimal subset of the Python language (version 3.1)
 This package contains the interpreter and some essential modules.  It can
 be used in the boot process for some basic tasks.
 See /usr/share/doc/python3.1-minimal/README.Debian for a list of the modules
 contained in this package.

Package: libpython3.1
Architecture: any
Section: libs
Priority: optional
Depends: python3.1 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Replaces: python3.1 (<< 3.0~rc1)
Description: Shared Python runtime library (version 3.1)
 Version 3.1 of the high-level, interactive object oriented language,
 includes an extensive class library with lots of goodies for
 network programming, system administration, sounds and graphics.
 .
 This package contains the shared runtime library, normally not needed
 for programs using the statically linked interpreter.

Package: python3.1-examples
Architecture: all
Depends: python3.1 (>= ${source:Version}), ${misc:Depends}
Description: Examples for the Python language (v3.1)
 Examples, Demos and Tools for Python (v3.1). These are files included in
 the upstream Python distribution (v3.1).

Package: python3.1-dev
Architecture: any
Depends: python3.1 (= ${binary:Version}), libpython3.1 (= ${binary:Version}), libssl-dev, ${shlibs:Depends}, ${misc:Depends}
Replaces: python3.1 (<< 3.1.2+20100706-3)
Recommends: libc6-dev | libc-dev
Description: Header files and a static library for Python (v3.1)
 Header files, a static library and development tools for building
 Python (v3.1) modules, extending the Python interpreter or embedding
 Python (v3.1) in applications.
 .
 Maintainers of Python packages should read README.maintainers.

Package: idle-python3.1
Architecture: all
Depends: python3.1, python3-tk, python3.1-tk, ${misc:Depends}
Enhances: python3.1
XB-Python-Version: 3.1
Description: An IDE for Python (v3.1) using Tkinter
 IDLE is an Integrated Development Environment for Python (v3.1).
 IDLE is written using Tkinter and therefore quite platform-independent.

Package: python3.1-doc
Section: doc
Architecture: all
Depends: libjs-jquery, ${misc:Depends}
Suggests: python3.1
Description: Documentation for the high-level object-oriented language Python (v3.1)
 These is the official set of documentation for the interactive high-level
 object-oriented language Python (v3.1). All documents are provided
 in HTML format. The package consists of ten documents:
 .
   * What's New in Python3.1
   * Tutorial
   * Python Library Reference
   * Macintosh Module Reference
   * Python Language Reference
   * Extending and Embedding Python
   * Python/C API Reference
   * Installing Python Modules
   * Documenting Python
   * Distributing Python Modules

Package: python3.1-dbg
Section: debug
Architecture: any
Priority: extra
Depends: python3.1 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, python
Suggests: python3-gdbm-dbg, python3-tk-dbg
Description: Debug Build of the Python Interpreter (version 3.1)
 Python interpreter configured with --pydebug. Dynamically loaded modules are
 searched in /usr/lib/python3.1/lib-dynload/debug first.
